.progress-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin: 150px 100px 30px 100px;
}

.progress-container {
  width: 100%;
  background-color: #ddd;
  position: relative;
}

.progress-bar {
  position: relative;
  width: 0;
  height: 20px;
  background-color: #4CAF50;
}

.house-img {
  width: 180px;
  margin-bottom: -3px;
  margin-left: -4px;
}

.butzer-img {
  width: 100px;
  height: 100px;
  position: absolute;
  right: -40px;
  top: -100px;
}

@media (min-width: 768px) {
  .house-img {
    width: 400px;
    margin-bottom: -7px;
    margin-left: -14px;
  }

  .butzer-img {
    top: -150px;
    width: 150px;
    height: 150px;
  }
}

.text-wrapper {
  /*display: flex;*/
  /*flex-direction: column;*/
  text-align: center;
  color: white;
  font-size: 30px;
}
