:host {
  display: block;
  margin: 300px 100px;
}

.progress-container {

  /*margin-top: 200px;*/
  width: 100%;
  background-color: #ddd;
  position: relative;
}

.progress-bar {
  position: relative;
  width: 0;
  height: 20px;
  background-color: #4CAF50;
}

.progress-bar-butzerman {
  position: absolute;
  right: 0;
  top: -100px;
}

@media (min-width: 768px) {
  .progress-bar-butzerman {
    top: -150px;
  }
}

.house-picture {
  position: absolute;
  width: 450px;
  top: -200px;
  right: -155px;
}

@media (min-width: 768px) {
  .house-picture {
    width: 700px;
    top: -366px;
  }
}
